.App {
  text-align: center;
}

.main-container {
  min-height: 100vh;
}

.bord {
  border: 2px solid green;
}

.navbar-link {
  text-decoration: "none";
}

.navbar {
  margin-bottom: 50px;
}

.but-page:active {
  box-shadow: "none";
}

.but-page:hover {
  box-shadow: "none";
}

.footer {
  height: 200px;
  width: max-content;
  background-color: gray;
  margin-bottom: 0px;
  margin-top: 50px;
}

.login-form {
  margin-right: auto;
  margin-right: auto;
}
