.App {
  text-align: center;
}

.bord {
  border: 2px solid green;
}

.navbar {
  margin-bottom: 50px;
}

.footer {
  height: 200px;
  width: max-content;
  background-color: gray;
  margin-bottom: 0px;
  margin-top: 50px;
}

.login-form {
  margin-right: auto;
  margin-right: auto;
}
